@model ContosoU2016.Models.Instructor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Instructor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="HireDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
        </div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        @* mwilliams:  Added Office Location *@
        <div class="form-group">
            <label asp-for="OfficeAssignment.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="OfficeAssignment.Location" class="text-danger"></span>
            </div>
        </div>

        @* mwilliams:  Added List of Courses  *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            //need counter for creating html table with 3 columns
                            int cnt = 0;
                            //create list of AssignedCourseData called courses
                            // populated with ViewBag Courses
                            List<ContosoU2016.Models.SchoolViewModels.AssignedCourseData> courses = ViewBag.Courses;

                            //Loop each of the courses to create 3 columns
                            //Note:  We will need to use the @: to indicate that start of content
                            foreach (var course in courses)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@course.CourseID"
                                           @(Html.Raw(course.Assigned ? "checked" : "")) />//html.raw allows you to print text containing html and does not encode special chars
                                            <span style="font-weight:bold;padding-right:.75em">@course.CourseID</span>@course.Title

                               @:</td>
                            }
                            @:</tr>
                        }

                    </table>
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
